# fly.toml app configuration file generated for information-application on 2025-12-26T12:23:05-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "information-application"
primary_region = "ewr"

[build]
  dockerfile = "./Dockerfile"

[http_service]
  internal_port = 3000
  force_https = true
  auto_start_machines = true
  auto_stop_machines = false
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1

[mounts]
  source = "data"
  destination = "/data"
